.container {
  max-width: 800px;
  margin: 35px auto;
  padding: 0 15px;
}

.newsContainer {
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  padding: 15px;
  margin-top: 25px;
  img {
    width: 300px;
    height: auto;
  }
}